@model List<Series>
<!DOCTYPE html>
<html>
<head>
    <title>Series</title>
</head>
<body>
    @foreach (var series in Model)
    {
        <h2>@series.Name</h2>
        <p>@series.Description</p>
    }
</body>
</html>