<!DOCTYPE html>
<html>
<head>
    <title>Tracflix</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <nav>
        <div class="container-nav">
            <div class="logo">
                <a href="index.php"><img src="asets/Logo Head.png"></a>
            </div>
            <div class="search-box">
                <input type="text" name="search" placeholder="Search">
                <button type="submit"><img src="asets/search_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg"></button>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="sign-in.html">sign-in</a></li>
                    <li><a href="sign-in.html"><img src="asets/login_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg" alt="Log-in"></a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>